#t1{
    width: 50%;
    margin-left: 25%;
    border-collapse: collapse;
}

#p{
    background-color: rgb(184, 184, 184);
}

#c{
    padding-bottom: 30px;
}

tr, td{
    padding: 7px;
}

#p2{
    background-color: rgb(184, 184, 184);
}

#t2{
    margin: 40px;
    width: 55%;
    margin-left: 22%;
    border-collapse: collapse;
}

#l1, #l2{
    background-color: rgb(184, 184, 184);
    height: 35px;
}

#t3{
    border-collapse: collapse;
    margin-left: 17%;
    width: 65%;
}

#l3{
    color: gray;
    height: 35px;
}

#l4{
    height: 60px;
}

#d1{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(67, 99, 160);
    
}

#d2{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(34, 55, 148);
}

#d3{
    text-align: center;
    font-size: 25px;
    color: white;
    background-color: rgb(35, 27, 78);
}

#c1{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#c2{
    text-align: center;
    
}

#c3{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#u1{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#u2{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#u3{
    text-align: center;
    max-width: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#o1{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#o2{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#o3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#b1{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#b2{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#b3{
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#e1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ee1{
    background-color: rgb(67, 99, 160);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

#e2{
    text-align: center;
}

#ee2{
    background-color: rgb(34, 55, 148);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

#e3{
    text-align: center;
}

#ee3{
    background-color: rgb(35, 27, 78);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

#t4{
    border-collapse: collapse;
    margin: 40px;
    width: 65%;
    margin-left: 17%;
}

#a{
    background-color: rgb(184, 184, 184);
}

#a1, #a2, #a3{
    height: 55px;
    width: 200px;
}


#aa1, #bb1, #cc1{
    font-size: 12px;
}

#z1, #z2, #z3{
    text-align: center;
    height: 25px;
    font-size: 20px;
}

#t{
    background-color: rgb(184, 184, 184);
}

#x1, #x2, #x3{
    text-align: center;
}

#v1, #v2, #v3{
    text-align: center;
}

#n, #n1, #n2{
    height: 50px;
}

#n3{
    height: 45px;
    text-align: center;
}

#f1, #f2, #f3{
    background-color: brown;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}